{% extends 'base.html.twig' %}


{% block title %}Bjola2{% endblock %}

{% block stylesheets %} 

{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to Bjola 2</h1>
</div>
{% endblock %}
